<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
        <title>404 not found</title>
        <style type="text/css">
                body { font-family: "Verdana", sans-serif; }
        </style>
</head>
<body> 
        <h1>404 not found</h1>
        <p>The file you asked for does not exist.</p>
        <p>Go back to <a href="http://<%= domain %>/"><%= domain %></a></p>
</body>
</html>
